PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=qwerty123
DB_NAME=ecommerce_db_hw
DB_SSL=false

AWS_REGION=eu-central-1
S3_BUCKET=nodejs-homework-27

AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...

CLOUDFRONT_BASE_URL=https://xxxx.cloudfront.net
FILES_PRESIGN_EXPIRES_SEC=120
